.select {
  position: relative;
  min-width: 200px;
  padding: 1rem 0;
  margin-left: 10px;

  &__btn {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    width: 100%;

    p {
      margin-right: 15px;

      svg {
        margin-left: 10px;
      }
    }

    &.focus {
      svg.sort_icon {
        transform: scale(-1);
      }
    }
  }

  &__options {
    border: 1px solid #bbb;
    background-color: var(--white);
    position: absolute;
    transform: translateY(15px);
    width: 100%;
    z-index: 2;

    li {
      padding: 8px 15px;
      display: flex;
      align-items: center;

      &.active {
        background-color: var(--light-gray);
      }

      span {
        margin-right: 10px;
      }
    }

    li:hover {
      background-color: var(--light-gray);
      color: var(--beige);
      cursor: pointer;
    }
  }

  @media screen and (max-width: 768px) {
    min-width: unset;
  }
}