.tabs {
  margin-bottom: 96px;
  @media screen and (max-width: 768px) {
    margin-bottom: 50px;
  }
  .line {
    width: 100%;
    height: 1.2px;
    background-color: #ECECEC;
  }
  @media screen and (max-width: 768px) {
    padding: 0;
  }
  &__option {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 1280px) {
      justify-content: flex-start;
    }
    button {
      height: 80px;
      text-transform: uppercase;
      position: relative;
      margin: 0 2rem;
      font-weight: 600;
      font-family: 'Montserrat';
      opacity: 0.5;
      @media screen and (max-width: 768px) {
        height: 60px;
        margin-left: 0;
        margin-top: 1rem;
      }
    }
    button.active {
      opacity: 1;
      &::before {
        content: '';
        position: absolute;
        width: 50px;
        height: 5px;
        background-color: var(--beige);
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (max-width: 768px) {
          left: 0;
          transform: translateX(0);
          height: 3px;
        }
      }
    }
  }
}