.cart {
  --width: 420px;
  --space: 40px;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: space-between;
  animation: slideLeft 0.6s ease-in-out;
  @media screen and (max-width: 768px) {
    --space: 20px;
  }
  &__inner {
    width: var(--width);
    height: 100%;
    padding: var(--space);
    flex-shrink: 0;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  &__close {
    top: 10px;
    right: 10px;
    width: calc(var(--space) * 1.2 );
    height: calc(var(--space) * 1.2 );
    font-size: calc(var(--space) * 1.2 );
    line-height: calc(var(--space) * 1.2 );
    
  }
  &__list {
    max-height: 300px;
    @media screen and (min-width: 321px) and (min-height: 668px) {
      max-height: 400px;
    }
    @media screen and (min-height: 840px) {
      max-height: 500px;
    }
    @media screen and (min-height: 1024px) {
      max-height: 700px;
    }
    @media screen and (min-height: 1200px) {
      max-height: 820px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}