.about {
  width: 100%;
  padding: var(--navbar-height) 0px;

  .wrapper {
    width: 100%;
    padding: 100px 76px 0px;
  }

  .heading {
    color: var(--text);
    font-size: 36px;
    line-height: 46px;
    font-weight: 600;
    text-align: center;
  }

  .introduce {
    height: 450px;

    .video {
      flex: 1;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .play_icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        svg {
          width: 110px;
          height: 110px;
          color: var(--white);

          &:hover {
            animation: moveY 1.5s 0.5s linear alternate infinite;
          }
        }
      }
    }

    .description {
      flex: 1;
      padding-left: 80px;

      h3 {
        font-size: 32px;
        line-height: 42px;
        font-weight: 600;
      }
    }
  }

  .partners {
    margin-top: 100px;
    margin-bottom: 100px;

    .slides {
      margin-top: 60px;
      height: 120px;
    }

    .slide {
      display: flex;
      justify-content: center;
      padding: 10px;

      img {
        width: auto;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .company {
    .list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 70px;
      gap: 60px;
    }

    .item {
      cursor: pointer;
      position: relative;

      &:hover {
        .content {
          width: 100%;
          height: 100%;
          opacity: 1;
        }
      }

      img {
        width: 100%;
        height: 420px;
        object-fit: cover;
      }

      .content {
        background-color: rgb(151 5 91 / 44%);
        position: absolute;
        width: 90%;
        height: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: all 0.3s;
      }
    }
  }

  .video_player {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.85);

    iframe {
      width: 900px;
      height: 500px;
    }

    .loading {
      position: relative;
      height: 5rem;
      width: 5rem;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }

      &::before {
        z-index: 5;
        border: 3px dashed var(--beige);
        border-left: 3px solid transparent;
        border-bottom: 3px solid transparent;
        -webkit-animation: dashed 1s linear infinite;
        animation: dashed 1s linear infinite;
      }

      &::after {
        z-index: 10;
        border: 3px solid var(--green);
        border-left: 3px solid transparent;
        border-bottom: 3px solid transparent;
        -webkit-animation: dashed 1s ease infinite;
        animation: dashed 1s ease infinite;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .thumnail {
      height: 240px !important;

      h3 {
        font-size: 18px;
        line-height: 18px;
        text-align: center;
      }
    }

    .wrapper {
      padding: 60px 24px 0px;
    }

    .introduce {
      height: unset;

      .video {
        .play_icon {
          svg {
            width: 60px;
            height: 60px;
          }
        }
      }

      .description {
        padding-left: 40px;
        padding-top: 30px;

        h3 {
          font-size: 22px;
          line-height: 28px;
        }

        p {
          font-size: 16px;
          line-height: 28px;
        }
      }
    }

    .company {
      .list {
        margin-top: 70px;
        gap: 30px;
      }

    }
  }

  @media screen and (max-width: 768px) {
    .heading {
      font-size: 22px;
      line-height: 28px;
    }

    .introduce {
      .description {
        padding-left: 0px;
      }
    }

    .partners {
      margin-top: 60px;
      margin-bottom: 60px;

      .slide {
        padding: 10px 50px;
      }
    }

    .company {
      .list {
        margin-top: 40px;
        grid-template-columns: repeat(1, 1fr);
      }

      .item {
        img {
          height: 380px;
        }
      }
    }

    .video_player {
      iframe {
        width: 100%;
        height: 300px;
      }
    }
  }
}

@keyframes moveY {
  0% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(5px);
  }

  66% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes dashed {
  to {
    transform: rotate(360deg);
  }
}