.shop {
  width: 100%;
  padding: var(--navbar-height) 0px;

  .wrapper {
    display: flex;
    padding-top: 60px;
    padding-left: 76px;
    padding-right: 76px;
  }

  .sidebar {
    width: 300px;
    flex-shrink: 0;
    margin-right: 60px;

    .heading {
      padding-bottom: 20px;
    }

    .search_box {
      width: 100%;
      height: 60px;
      border: 1px solid #ebebeb;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 15px;
      margin-bottom: 60px;
      transition: all 0.3s;

      &:focus-within {
        border: 1px solid #bbb;
      }

      input {
        flex: 1;
        height: 100%;
        padding: 20px 0px;
        outline: none;
        border: 0;
        font-size: 14px;

        &::placeholder {
          color: var(--black);
        }
      }

      svg {
        width: 30px;
        flex-shrink: 0;
        margin-left: 16px;
        cursor: pointer;

        &:hover path {
          fill: var(--beige)
        }
      }
    }

    .category {
      width: 100%;

      .list {
        margin-bottom: 60px;
      }
    }

    .colors {
      margin-bottom: 60px;

      .color {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        margin-right: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          svg {
            display: block;
          }
        }

        svg {
          transition: all 0.5s;
          display: none;
        }
      }
    }

    .sizes,
    .brands {
      margin-bottom: 60px;

      .options {
        input[type="checkbox"] {
          outline: none;
          border: 1px solid var(--beige);
          cursor: pointer;
          width: 15px;
          height: 15px;

          &:checked {
            filter: sepia(100%) brightness(125%) hue-rotate(360deg) saturate(100%) contrast(200%);
          }
        }
      }
    }

    .banner {
      cursor: pointer;
      width: 100%;
      height: 400px;
      margin-bottom: 60px;
      background: url('/images/sidebar-banner.jpg') center/cover;
      position: relative;

      &:hover {
        .overlay {
          transform: scale(0.9);
        }
      }

      .overlay {
        background-color: rgb(0 0 0 / 25%);
        position: absolute;
        width: 100%;
        height: 100%;
        transition: transform 0.5s;
      }
    }

    .instagram {
      .grid {
        display: grid;
        grid-template-columns: repeat(3, 97px);
        gap: 4px;
      }

      .post {
        height: 97px;
        position: relative;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .main {
    flex: 1;
    background-color: lightblue;
  }

  @media screen and (max-width: 1024px) {
    .sidebar {
      display: none;
    }
  }
}