.home {
  .carousel {
    position: relative;
    width: 100%;
    height: 40rem;
    background: url('/images/bg-overlay.jpg') no-repeat center/cover;
    @media screen and (max-width: 1280px) {
      height: 30rem;
    }
    @media screen and (max-width: 768px) {
      height: 20rem;
    }
    &__sliders {
      width: 100%;
      top: var(--navbar-height);
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .collection {
    width: 100%;
    margin-top: var(--navbar-height);
    .line {
      width: 2px;
      height: 60px;
      background-color: var(--green);
    }
    h3 {
      color: var(--text);
      font-size: 18px;
      line-height: 18px;
    }
    p {
      max-width: 640px;
      padding-top: 25px;
      padding-bottom: 60px;
      text-align: center;
      @media screen and (max-width: 768px) {
        max-width: 320px;
        padding-top: 10px;
        padding-bottom: 40px;
      }
    }
  }
  .banner {
    margin-bottom: 2.5rem;
    @media screen and (min-width: 1024px) {
      margin-bottom: 5rem;
    }
    .col1 {
      flex: 5;
    }
    .col2 {
      flex: 4;
      margin-left: 3rem;
    }
  }
  .girl, .boy {
    .thumnail {
      width: 100%;
      height: 613px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 1280px) {
        height: 400px;
      }
      @media screen and (max-width: 768px) {
        height: 220px;
      }
      h1 {
        font-size: 4.5rem;
        line-height: 1;
        @media screen and (max-width: 768px) {
          font-size: 1.5rem;
          line-height: 2rem;
        }
      }
    }
    .list {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      gap: 1.25rem;
      
      @media screen and (min-width: 768px ) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      
      @media screen and (min-width: 1280px ) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin-top: 5rem;
        margin-bottom: 5rem;
        gap: 3.5rem;
      }
    }
    .viewBtn {
      text-align: center;
      margin-bottom: 3rem;
      @media screen and (min-width: 1024px) {
        margin-bottom: 5rem;
      }
      a {
        width: 8rem;
        height: 2.5rem;
        line-height: 2.5rem;
        display: inline-block;
        text-align: center;
      }
    }
  }
  .girl {
    .thumnail {
      background: url('/images/girl.jpg') no-repeat center/cover;
    }
  }
  .boy {
    .thumnail {
      background: url('/images/boy.jpg') no-repeat center/cover;
    }
  }
  .subscribe {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
    @media screen and (max-width: 1023px) {
      max-width: 320px;
    }
    .title {
      text-align: center;
      font-size: 1.875rem;
      line-height: 2.25rem;
      @media screen and (min-width: 1024px) {
        font-size: 3rem;
        line-height: 1;
      }
    }
    .para {
      text-align: center;
      @media screen and (min-width: 1024px) {
        line-height: 2.25rem;
      }
    }
    .form {
      border-bottom: 1px solid #ccc;
      width: 500px;
      height: 4rem;
      margin-top: 2.5rem;
      @media screen and (max-width: 1024px) {
        width: 100%;
        height: 3.5rem;
        margin-top: 1.25rem;
      }
      input {
        outline: none;
        border: 0;
        color: var(--text-color);
      }
      button {
        width: 2rem;
        flex-shrink: 0;
        font-size: 1.875rem;
        line-height: 2.25rem;
        &:hover {
          color: var(--orange);
        }
      }
    }
  }
}