.dropdown {
  width: auto;
  height: 100%;
  &:global(.active) {
    .dropdown__button svg {
      transform: scale(-1);
    }
    .dropdown__list {
      display: block;
    }
  }
  .link {
    transition: all 0.3s;
    &:hover {
      color: var(--beige);
    }
  }
  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    margin-bottom: 6px;
    svg path {
      fill: #7b7b7b;
    }
  }
  &__list {
    width: 100%;
    margin-top: 10px;
    display: none;
    animation: fadeIn 0.5s ease-in-out;
    li {
      height: 35px;
      display: flex;
      align-items: center;
      padding-left: 20px;
    }
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-20%);
  } 
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
