@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --green: #64AD9C;
  --white: #FFF;
  --black: #000;
  --text: #333;
  --orange: rgb(186, 96, 0);
  --beige: #c2a18a;
  --light-blue: #ecfaff;
  --light-gray: #f1f1f1;
  --lighter-gray: #f9f9f9;
  --navbar-height: 120px;
}

*::selection {
background-color: var(--green);
color: var(--white);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-weight: 400;
  background-color: var(--white);
  color: var(--text);
}

body::-webkit-scrollbar {
  width: 5px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat.woff2') format('woff2');
}

.montserrat {
  font-family: 'Montserrat';
}
.font-lobster {
  font-family: 'Lobster', cursive;
}

.my-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 173px;
}

.swiper-pagination-bullet {
  width: 0.8rem !important;
  height: 0.8rem !important;
  background-color: #ffffffd9 !important;
  margin: 0 8px !important;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  width: 100%;
  border: 1px solid #ddd;
  outline: none;
  padding: 1.5rem;
}
textarea:focus {
  border: 1px solid var(--orange);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1280px) {
  :root {
    --navbar-height: 80px;
  }
  .my-container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --navbar-height: 60px;
  }
}